@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// GENERALS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-color {
    background-color: #3C6E71;
    border-color: #3C6E71;
    border: #3C6E71 2px solid;
}

.btn-color:hover {
    border: #ba9593 2px solid;

}

.btn-show {
    background-color: white;
    border: 2px solid #3C6E71;
}

.btn-show:hover {
    background-color: #3C6E71;
    border: 2px solid #3C6E71;
    color: white;
}


.btn-modify {
    background-color: white;
    border: 2px solid #C5ADC5;
}

.btn-modify:hover {
    background-color: #C5ADC5;
    border: 2px solid #C5ADC5;
    color: white;
}


.btn-delete {
    background-color: white;
    border: 2px solid red;
}


.btn-delete:hover {
    background-color: red;
    color: white;
    border: 2px solid red;
}


table {
    width: 100%;

}

tr,
td,
th {
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.469);
}

tr:hover {
    background-color: #B2B5E0;
}

// HEADER

.logo {
    color: #000000;
    transition: background-color 1s;
}

.logo:hover {
    background-color: #B2B5E0;
    color: black;
}

.link-hover-header {
    color: #000000;
}

.link-hover-header:hover {
    // background-color: #DFBE99;
    background-color: #B2B5E0;
}

.nav-background {
    background-color: #C5ADC5;
}

.drop-down:hover {
    background-color: rgb(206, 227, 245);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



// Jumbotron welcom.blade.php
.jumbotron-welcome-base {
    background-color: #ba9593;
    height: calc(100vh - 120px);
}

.jumbotron-welcome-partial {
    background-color: #B2B5E0;
    height: 35vh;
}

// ANIMATION CARDS

.container-animation {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: 0.7s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}


.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    height: 100%;
}

// SIDEBAR
.background-color {
    background-color: #B2B5E0;
    padding-bottom: 65em;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 120px;
    padding: 5px;
    padding-top: 0.5rem;
    width: 210px;
}

.selected {
    background-color: #B2B5E0;
}

.select:hover {
    background-color: #FCD951;
}

// YELD ADMIN.BLADE.PHP

.main-width {
    width: calc(100% - 211px);
    margin-left: 210px;
    margin-top: 120px;
}

// main
.description-card {
    height: 150px;
    width: 250px;
}


.btn:disabled{
    background-color: rgb(142, 140, 140);
}


// LEAD MESSAGE STYLE

.border-message{
    border: 1px solid rgb(174, 168, 168);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);

}
.border-b{
    border-bottom: 1px solid gray;
}
.ff{
    overflow-y: auto;
}

